body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 30px;
    color: #007bff;
    font-size: 36px;
  }
  
  .buttons {
    margin-bottom: 30px;
  }
  
  .buttons button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }
  
  #userTypeSelection {
    margin-top: 20px;
  }
  
  #userTypeSelection h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  #userTypeSelection button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  #userTypeSelection button:hover {
    background-color: #0056b3;
  }
  